<button
    *ngIf="chevaletService.display"
    [disabled]="chevaletService.validationReserve(this.reserveTilesLeft) || this.socketService.socketId !== this.socketTurn"
    class="exchange-button"
    (click)="exchange()"
>
    {{ text('exchange') }}
</button>
<canvas
    id="canvas"
    #chevaletCanvas
    (contextmenu)="rightMouseHitDetect($event)"
    (click)="leftMouseHitDetect($event)"
    [attr.width]="width"
    [attr.height]="height"
></canvas>
<button
    *ngIf="chevaletService.display"
    [disabled]="chevaletService.validationReserve(this.reserveTilesLeft) || this.socketService.socketId !== this.socketTurn"
    class="cancel-button"
    (click)="cancel()"
>
    {{ text('cancel') }}
</button>
