<div class="container justified">
    <div></div>
    <div></div>
    <h1 class="header-item">Bienvenue dans notre application de jeu {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <section id="server-message">
        <div class="justified">
            <button class="button" (click)="navClassicPage()">Scrabble classique</button>
            <button class="button" (click)="navLogPage()">Scrabble LOG2990</button>
            <button class="button" (click)="popUp()">Meilleurs scores</button>
        </div>
    </section>

    <div class="footer-item">
        <h4 class="team-name">Équipe 111</h4>
        <p><span>Mathieu Casubolo</span>, <span>Sylvain Ramtoula</span>, <span>Mehdi Boukerdoune</span>, <span>Christopher Sigouin-Bond</span>, <span>Tristan Dea</span>, <span>Yacine Hamdani</span></p>
    </div>
</div>
