.letter {
    font-weight: 700;
    border-radius: 10%;
    background-color: rgb(240, 231, 216);
    box-shadow: 2px 2px 2px 0.2;
    background-image: url('^assets/img/tuile.png');
    background-size: contain;
    margin: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: rotateZ(0deg);
    transition: transform .1s ease-in-out;

    position: relative;

    cursor: default;

    .char {
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        position:absolute;
        font-size: 1.4em;
    }

    .value {
        bottom: 3px;
        right: 3px;

        position:absolute;
        font-size: .8em;
    }
}

.letter:hover {
    transform: rotateZ(-10deg);
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}